--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
torchaudio==2.1.2+cpu
fastapi
uvicorn
chromadb
langchain
langchain-community
langchain-ollama
langchain-openai
langchain-text-splitters
langchain-huggingface
sentence-transformers
sentencepiece
transformers
llama-index
openai-whisper
python-multipart
pytest
pypdf
